/bin/
/dist/
*.o
*.a
*.so
*.test
*.out
*.prof

.vscode/
.idea/
*.swp
*.swo
*.bak
*~
.env

/rcvd
/rcvd-linux-*
/rcvd-freebsd-*
/rcvd-macos-*
/rcvd-darwin-*
/rcvd-amd64*
/rcvd-arm64*
/rcvd-static*

*.log
tests/logs/

.gitlab-ci-local/*

internal/dnssec/root-anchors.iana.xml
internal/dnssec/root-anchors.p7s
internal/dnssec/icannbundle.pem

.DS_Store
